<footer class="footer">
    <div class="footer_container container grid">
        <div>
            <a href="#" class="footer_logo">
                <img src="../../assets/images/logo.png" alt="" class="logo">
            </a>
        </div>

        <div>
            <div class="footer_title mt-5">Contact</div>
            <ul class="footer_info">
                <li>
                    <address class="footer_info">
                        Av Doranco <br>
                        Paris 75010, Paris
                    </address>
                </li>
                <li>
                    <address class="footer_info">
                        nomad-odyssey&#64;email.com <br>
                        06-05-04-03-02
                    </address>
                </li>
            </ul>
        </div>

        <div>
            <h3 class="footer_title mt-5">Social</h3>
            <div class="footer_social">
                <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                    <i class="ri-facebook-circle-line"></i>
                    </a>
    
                    <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                    <i class="ri-instagram-line"></i>
    
                    </a>
    
                    <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class="ri-twitter-x-line"></i>
                    </a>
            </div>
        </div>

    </div>

    <span class="footer_copy">
        &copy; 2024 NomadOdyssey. Tous droits réservés.
    </span>
</footer>