<div class="container">

    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="products" class="mat-elevation-z8">
                
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let product">{{ product.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let product">{{ product.name }}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Description</th>
                    <td mat-cell *matCellDef="let product">{{ product.description }}</td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Prix</th>
                    <td mat-cell *matCellDef="let product">{{ product.price }}€</td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Catégorie</th>
                    <td mat-cell *matCellDef="let product">{{ product.categoryName }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let product">
                        <a [routerLink]="'/admin/faq/' + product.id"><i class="ri-question-line"></i></a>
                        <a [routerLink]="'/admin/product/' + product.id"><i class="ri-edit-2-fill"></i></a>
                        <a (click)="deleteProduct(product.id)"><i class="ri-delete-bin-fill"></i></a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['id', 'name', 'description', 'price', 'category', 'actions']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'description', 'price', 'category', 'actions']"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
