.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    border-bottom: 15px solid rgb(122, 202, 147);
    box-shadow: 0 13px 8px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;

}

.product-container {
    background-image: url(../../../../assets/images/admin.jpg);
}

.user-container {
    background-image: url(../../../../assets/images/user.jpg);
}

.category-container {
    background-image: url(../../../../assets/images/categories.jpg);
}
.coupons-container {
    background-image: url(../../../../assets/images/coupon.jpg);
}

.order-container {
    background-image: url(../../../../assets/images/order.jpg);
}

.search-form {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

mat-card {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(185, 158, 123, 255);
    border: 7px solid rgb(122, 202, 147);

    @media screen and (max-width: 500px) {
        max-width: 90%;
    }

    @media screen and (min-width: 1150px) {
        max-width: 800px;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 16px 32px rgb(122, 202, 147);
    }
}

mat-card-title {
    font-size: 34px;
    font-weight: 700;
    color: rgb(80, 58, 48);
    font-family: "Dancing Script", cursive;
    text-align: center;
    margin-bottom: 15px;
}

mat-card-content {
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 16px;
    text-align: left;
    color: rgb(80, 58, 48);
}

th {
    background-color: rgb(122, 202, 147);
    font-weight: 600;
    text-transform: uppercase;
}

td {
    background-color: rgba(185, 158, 123, 255);
}

tr:nth-child(even) td {
    background-color: rgba(185, 158, 123, 0.8);
}

tr:hover td {
    background-color: rgb(122, 202, 147);
    color: white;
    transition: background-color 0.3s ease;
}

.mat-elevation-z8 {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: rgb(80, 58, 48);
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

a i {
    font-size: 20px;
}

a .ri-question-line:hover {
    color: rgb(122, 0, 122);
}

a .ri-edit-2-fill:hover {
    color: rgb(0, 122, 255);
}

a .ri-delete-bin-fill:hover {
    color: rgb(193, 62, 62);
}

.button {
    padding: 1rem 1.5rem;
    display: inline-block;
    background-color: rgb(122, 202, 147);
    color: rgb(80, 58, 48);
    font-weight: 600;
    transition: background-color 0.5s;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(185, 158, 123, 0.8);
}
