<div class="container">

    <mat-card>
        <mat-card-content>
            <table mat-table [dataSource]="coupons" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let coupon">{{ coupon.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nom</th>
                    <td mat-cell *matCellDef="let coupon">{{ coupon.name }}</td>
                </ng-container>

                <ng-container matColumnDef="discount">
                    <th mat-header-cell *matHeaderCellDef>Réduction</th>
                    <td mat-cell *matCellDef="let coupon">{{ coupon.discount }}%</td>
                </ng-container>

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Code</th>
                    <td mat-cell *matCellDef="let coupon">{{ coupon.code }}</td>
                </ng-container>

                <ng-container matColumnDef="expirationDate">
                    <th mat-header-cell *matHeaderCellDef>Date d'expiration</th>
                    <td mat-cell *matCellDef="let coupon">{{ coupon.expirationDate | date: 'dd/MM/yyyy' }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let coupon"><a (click)="deleteCoupon(coupon.id)"><i class="ri-delete-bin-fill"></i></a></td>
                </ng-container>
                

                <tr mat-header-row *matHeaderRowDef="['id', 'name', 'discount', 'code', 'expirationDate','actions']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'discount', 'code', 'expirationDate','actions']"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>