.center-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.product-card {
    background-color: rgba(185, 158, 123, 255);
    border: 7px solid rgb(122,202,147);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgb(122,202,147);
}

.product-image img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.product-details h2 {
    font-size: 24px;
    font-weight: bold;
    color: rgb(34, 49, 63);
    margin: 10px 0;
}

.product-details .description {
    font-size: 18px;
    color: rgb(80,58,48);
    margin-bottom: 10px;
}

.product-details .price {
    font-size: 20px;
    font-weight: bold;
    color: rgb(122,202,147);
    margin-top: 10px;
}

.product-details .category {
    font-size: 16px;
    color: rgb(80,58,48);
    margin-top: 10px;
}

.heart-icon {
    font-size: 24px;
    color: #ff4081;
    cursor: pointer;
    margin-left: 10px;
}

.section-heading {
    font-size: 24px;
    font-weight: bold;
    color: rgb(34, 49, 63);
    text-align: center;
    margin: 30px 0;
}

.review-list {
    margin-top: 30px;
}

.review-card {
    background-color: rgba(185, 158, 123, 255);
    border: 7px solid rgb(122,202,147);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgb(122,202,147);
}

.review-card .review-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-rating mat-icon.filled {
    color: rgb(255, 193, 7); /* Jaune pour les étoiles remplies */
}

.review-rating mat-icon {
    color: rgb(204, 204, 204); /* Gris clair pour les étoiles vides */
}

.review-description {
    font-size: 16px;
    color: rgb(80,58,48);
    margin-top: 10px;
}

.faq-list {
    margin-top: 30px;
}

.faq-card {
    background-color: rgba(185, 158, 123, 255);
    border: 7px solid rgb(122,202,147);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}

.faq-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgb(122,202,147);
}

.faq-details {
    font-size: 16px;
    color: rgb(80,58,48);
}

.faq-details .question {
    font-weight: bold;
    color: rgb(34, 49, 63);
    margin-bottom: 5px;
}

.faq-details .answer {
    font-size: 16px;
    color: rgb(80,58,48);
    margin-top: 10px;
}

