.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(../../../../assets/images/order.jpg);
    height: 100vh;
}

mat-card {
    max-width: 900px;
    width: 100%;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(185, 158, 123, 255);
    border: 7px solid rgb(122,202,147);

    @media screen and (max-width: 500px) {
        max-width: 90%;
    }

    @media screen and (min-width: 1150px) {
        max-width: 1300px;
    }

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 16px 32px rgb(122,202,147);
    }
}

mat-card-content {
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 16px;
    text-align: left;
}

th {
    background-color: rgb(122,202,147);
    color: rgb(80,58,48);
    font-weight: 600;
    text-transform: uppercase;
}

td {
    background-color: rgba(185, 158, 123, 255);
    color: rgb(80,58,48);
}

tr:nth-child(even) td {
    background-color: rgba(185, 158, 123, 0.8);
}

tr:hover td {
    background-color: rgb(122,202,147);
    color: white;
    transition: background-color 0.3s ease;
}

.mat-elevation-z8 {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.bold-cell {
    font-weight: bold;
}

.button {
    padding: 1rem 1.5rem;
    display: inline;
    background-color: rgb(122,202,147);
    color: rgb(80,58,48);
    font-weight: 600;
    transition: background-color 0.5s;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(185, 158, 123, 0.8);
}