<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn" class="navbar">

    <div class="navbar-brand">
        <img src="../../assets/images/logo.png" alt="" class="logo">
        <a routerLink="">NomadOdyssey</a>
    </div>
    <ul>
        <li><a class="nav-link" routerLink="/order" routerLinkActive="active">Produits</a></li>
        <li><a class="nav-link" routerLink="/signup" routerLinkActive="active">Inscription</a></li>
        <li><a class="nav-link" routerLink="/login" routerLinkActive="active">Connexion</a></li>
    </ul>
</div>

<div *ngIf="isAdminLoggedIn" class="navbar">
    <div class="navbar-brand"><a routerLink="">NomadOdyssey</a></div>
    <ul>
        <li><a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Tableau de Bord</a></li>
        <li><a class="nav-link" routerLink="/admin/analytics" routerLinkActive="active">Analyse</a></li>
        <li><a class="nav-link" routerLink="/admin/category" routerLinkActive="active">Catégorie</a></li>
        <li><a class="nav-link" routerLink="/admin/product" routerLinkActive="active">Produit</a></li>
        <li><a class="nav-link" routerLink="/admin/orders" routerLinkActive="active">Commandes</a></li>
        <li><a class="nav-link" routerLink="/admin/post-coupon" routerLinkActive="active">Bons de réduction</a></li>
        <li><a class="nav-link" routerLink="/admin/coupons" routerLinkActive="active">Liste de bon</a></li>
        <li><a class="nav-link" (click)="logout()" routerLinkActive="active">Déconnexion</a></li>
    </ul>
</div>

<div *ngIf="isCustomerLoggedIn" class="navbar">
    <div class="navbar-brand"><a routerLink="">NomadOdyssey</a></div>
    <ul>
        <li><a class="nav-link" routerLink="/customer/dashboard" routerLinkActive="active">Produits</a></li>
        <li><a class="nav-link" routerLink="/customer/cart" routerLinkActive="active">Panier</a></li>
        <li><a class="nav-link" routerLink="/customer/my_orders" routerLinkActive="active">Commandes</a></li>
        <li><a class="nav-link" routerLink="/customer/wishlist" routerLinkActive="active">Liste de souhait</a></li>
        <li><a class="nav-link" routerLink="/customer/profile" routerLinkActive="active">Profil</a></li>
        <li><a class="nav-link" (click)="logout()" routerLinkActive="active">Déconnexion</a></li>
    </ul>
</div>
