.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/images/home.jpg);
}

mat-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;

  @media screen and (max-width: 500px) {
    max-width: 90%;
  }
}

mat-card-title {
  color:  rgb(82, 158, 106);
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 4px;

  mat-label, mat-error {
      margin: 0;
  }
}

button {
  width: 100%;
  color:  rgb(82, 158, 106);
}

.button {
  padding: 1rem 1.5rem;
  display: inline;
  background-color: rgb(122,202,147);
  color: rgb(80,58,48);
  font-weight: 600;
  transition: box-shadow 0.4s;
  border: none;
  text-decoration: none;
}

.button:hover {
  box-shadow: 0 6px 32px 0 rgb(122,202,147);
}


mat-card-actions {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  p{
      a{
         margin-left: 5px;
          text-decoration: none;
          color:  rgb(82, 158, 106);
          font-weight: 500;
      }

      a:hover{
          text-decoration: underline;
      }
  }
}
 
@media screen and (max-width: 500px) {
  mat-card-title {
    font-size: 20px;
  }

    mat-form-field {
        margin-bottom: 10px;
    }
}

error-snackbar {
    background-color: #f44336;
}