// order-by-status.component.scss

.order-status-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../../../../assets/images/home.jpg);

}

.order-status-card {
    width: 32%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(185, 158, 123, 255);
    border: 7px solid rgb(122,202,147);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}

.order-status-card:last-child {
    margin-right: 0;
}

.order-status-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgb(122,202,147);
}

.status-avatar {
    background-color: rgb(122,202,147);
    color: rgb(80,58,48);
    font-size: 32px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-card-title {
    font-weight: bold;
    font-size: 20px;
    color: rgb(34, 49, 63);
}

.status-value {
    font-size: 36px;
    color: rgb(80,58,48);
    font-weight: bold;
    margin-top: 20px;
}
