hr {
    margin: 10px 120px;
    border: 0;
    height: 1px;
    background-color: rgb(122,202,147); /* Change la couleur ici */
}


.container {
    max-width: 1220px;
    margin-inline: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.home {
    background-image: url(../../assets/images/home.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    box-shadow: 0 13px 8px rgba(0, 0, 0, 0.1);
}

.home_swiper {
    margin: initial;
}

.home_container {
    padding-top: 7 rem;
    row-gap: 2rem;
}

.home_data {
    text-align: center;
}

.home_title {
    font-size: 3.5rem;
    font-weight: 600;
    color: rgb(167, 224, 185);
    font-family: "Dancing Script", cursive;
}

.home-description {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: rgb(167, 224, 185);
}

.home_images {
    display: grid;
}

.home_article,
.home_img {
    width: 220px;
    transition: scale 0.4s;
}

.home_article{
    scale: 0.8;
}

.button {
    padding: 1rem 1.5rem;
    display: inline;
    background-color: rgb(122,202,147);
    color: rgb(80,58,48);
    font-weight: 600;
    transition: box-shadow 0.4s;
    text-decoration: none;
}


.button:hover {
    box-shadow: 0 6px 32px 0 rgb(122,202,147);
}

/*=============== SERVICES ===============*/
.services__container{
    padding: 50px;
  }
  
  .services__card{
    text-align: center;
  }
  
  .services__card i{
    display: block;
    font-size: 3rem;
    color: rgb(122,202,147);
    margin-bottom: 1rem;

  }
  
  .services__title{
    font-family: "Dancing Script", cursive;
    margin-bottom: .5rem;
    font-size: 2rem;
    color: rgb(34, 49, 63);
  }

  .services__description {
    color: rgb(80, 80, 80);
  }

  /*=============== ABOUT ===============*/
.about__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.about__data {
    max-width: 540px;
}

.about__title {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgb(34, 49, 63);
    margin-bottom: 1rem;
    font-family: "Dancing Script", cursive;
}

.about__description {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    color: rgb(80, 80, 80);
}

.about__img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease;
}

.about__img:hover {
    transform: scale(1.05);
}


  /*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 320px) {
    .container {
        margin-inline: 1rem;
    }

    .home_title {
        font-size: 2.5rem;
    }

    .home_description {
        font-size: 1.2rem;
    }

    .home_images {
        grid-template-columns: repeat(2, 1fr);
    }

    .home_article,
    .home_img {
        width: 150px;
    }

    .about__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about__title {
        font-size: 2rem;
    }

    .about__description {
        font-size: 1rem;
    }

    .about__img {
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .services__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 2rem;
      }

      .services__card i{
        font-size: 2.5rem;
      }
}

@media screen and (min-width: 768px){
    
    .home_container{
        grid-template-columns: 580px;
    }

    .home_data {
        width: 420px;
        justify-self: center;
    }

    .services__container{
        grid-template-columns: repeat(3, max-content);
        justify-content: center;
        column-gap: 5rem;
      }

      .about__container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about__img {
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .about__title {
        font-size: 2.5rem;
    }

    .about__description {
        font-size: 1rem;
    }

    .services__card i{
        font-size: 3rem;
    }


}

@media screen and (min-width: 1150px){

    .home_data {
        width: initial;
    }

    .home_title {
        margin-top: 150px;
    }
     .home-description {
        margin-bottom: 50px;
    }

    .services__container{
        column-gap: 10rem;
      }

    .services__card i{
    font-size: 3.5rem;
    }

    .about__container {
        grid-template-columns: 1fr 1fr;
        text-align: initial;
    }

    .about__img {
        margin-inline: initial;
        margin-bottom: initial;
    }

    .about__title {
        font-size: 3rem;
    }

    .about__description {
        font-size: 1.4rem;
    }

    .services__card i{
        font-size: 4rem;
    }

    .services__title{
        font-size: 2.5rem;
    }

    .services__description {
        font-size: 1.2rem;
    }

    .services__card i{
    font-size: 4rem;
    }
}

@media screen and (min-width: 1220px){

    .container{
      margin-inline: auto;
    }

    .home_container {
        grid-template-columns: 435px 745px;
        align-items: center;
        padding-block: 7rem 2rem;
    }

    .home_data {
        text-align: initial;
    }

    .home_article,
    .home_img {
        width: 290px;
    }

    .about__container {
        display: flex;
        gap: 80px;
    }

    .about__title {
        font-size: 3rem;
    }

    .about__description {
        font-size: 1.4rem;
    }

    .about__img {
        width: 100%;
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition: transform 0.4s ease;
    }

    .about__img:hover {
        transform: scale(1.05);
    }

    
}