<section class="home">
    <div class="home_container container grid">
        <div class="home_data">
            <h1 class="home_title">
                Bienvenue sur<br> NomadOdyssey
            </h1>
            <p class="home-descritpion">
                Equipez dès aujourd'hui et partez pour votre plus belle aventure !
            </p>
            <a routerLink="" class="button">Commencer le voyage</a>
        </div>
        <div class="home_images">
            <div class="home_swiper swiper">
                <div class="swiper-wrapper">
                    <img src="../../assets/img/logo.png" alt="Logo">
                </div>
            </div>
        </div>
    </div>
</section>
