<section class="home">
    <div class="home_container container grid">
        <div class="home_data">
            <h1 class="home_title">
                Bienvenue sur<br> NomadOdyssey
            </h1>
            <p class="home-description">
                Equipez-vous dès aujourd'hui et partez pour votre plus belle aventure !
            </p>
            <a routerLink="" class="button">Commencer le voyage</a>
        </div>
        <div class="home_images">
            <div class="home_swiper swiper">
                <div class="swiper-wrapper">
                    <!-- <img src="../../assets/images/logo.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>

<!--==================== SERVICES ====================-->
<section class="services section">
    <div class="services__container container grid">
       <article class="services__card">
          <i class="ri-shopping-cart-line"></i>
          <h3 class="services__title">Large Choix</h3>
          <p class="services__description">Explorez notre vaste collection d'équipements.</p>
       </article>
 
       <article class="services__card">
          <i class="ri-truck-line"></i>
          <h3 class="services__title">Livraison Rapide</h3>
          <p class="services__description">Recevez vos commandes rapidement, où que vous soyez.</p>
       </article>
       <article class="services__card">
          <i class="ri-refund-line"></i>
          <h3 class="services__title">Retour Facile</h3>
          <p class="services__description">Satisfait ou remboursé, retour simple et rapide.</p>
       </article>
    </div>
 </section>
 <hr>
<!--==================== ABOUT ====================-->
<section class="about section">
    <div class="about__container container grid">
       <div class="about__data">
          <h2 class="about__title">À propos de NomadOdyssey</h2>
          <p class="about__description">
             NomadOdyssey a été fondé par un groupe de passionnés d'aventure qui voulaient rendre accessible le meilleur équipement de voyage pour tous les explorateurs modernes. Que vous soyez un randonneur aguerri, un campeur de week-end, ou un voyageur urbain, notre mission est de vous fournir tout ce dont vous avez besoin pour partir à la découverte du monde. Nous sélectionnons nos produits avec soin, en mettant l'accent sur la qualité, la durabilité et l'innovation.
          </p>
       </div>
       <div class="about__image">
          <img src="../../assets/images/about.jpg" alt="Aventure" class="about__img">
       </div>
    </div>
 </section>
    <hr>
<!--==================== PRODUCTS ====================-->
